@page "/Room/{roomId:int}"
@using FilRougeCore.Models;
@using FilRougeFront.Services;

<div class="container">
    <h3>Détails de la salle de sport</h3>

    @if (room != null)
    {
        <div class="card">
            <h4>Nom de la salle : @room.Name</h4>
            <p>Localisation : @room.Location</p>
            <p><img src="@room.ImageURL" alt="Image de la salle de sport" /></p>
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <p class="text-warning text-uppercase font-weight-bold">Activités :</p>
                    </div>
                    @foreach (var item in @room.Activities)
                    {
                        <div class="col-sm">
                            @item.Name
                        </div>
                    }
                </div>
                <div class="row">
                </div>
                <div class="row">
                    <div class="col-sm" >
                        <p class="text-warning text-uppercase font-weight-bold">Horaires :</p>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                        </div>
                        @foreach (var item in @room.Schedules)
                        {
                            <div class="col-sm">
                                @item.Day
                            </div>
                            <div class="col-sm">
                                @(item.OpenTime.ToShortTimeString())
                            </div>
                            <div class="col-sm">
                                @(item.CloseTime.ToShortTimeString())
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <p>Salle de sport introuvable.</p>
    }
</div>
@code {

    private Room room;

    [Parameter]
    public int roomId { get; set; }

    [Inject]
    public IRoomService roomService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        room = await roomService.Get(roomId);
    }
}
