@page "/rooms"
@using System.Net.Http.Json;
@using System.Globalization;
@using FilRougeFront.DTOs;
@using System.Collections.Generic;
@using FilRougeCore.Models;
@using FilRougeFront.Services;
@using Microsoft.AspNetCore.Components;
@inject Blazored.LocalStorage.ILocalStorageService _localStorage;
@inject NavigationManager Navigator;

<h3>Recherche de Salles de Sport</h3>
<div class="container-fluid">

    @if (User is not null)
    {
        <h4>Vous êtes connecté(e) en tant que @User.FullName</h4>
        <button type="button" @onclick="LogOut" class="btn btn-danger">Se déconnecter...</button>
    }
    else
    {
        <a href="@(Navigator.BaseUri)login" class="btn btn-success">Se connecter</a>
    }

    @if (User is not null && IsAdminMode)
    { }
    <div class="row">
        <button class="btn btn-success" @onclick="AddRoom"><i class="bi bi-plus-square"></i>&ensp; Ajouter une salle</button>
    </div>

    @if (RoomToEdit != null)
    {
        <EditForm OnValidSubmit="SubmitRoom" Model="RoomToEdit">
            <DataAnnotationsValidator />

            <div class="form-row">
                <div class="form-group" style="width:100%">
                    <label for="name">Nom:</label>
                    <InputText class="form-control" id="name" placeholder="Saisir le nom" @bind-Value="RoomToEdit.Name" />
                    <ValidationMessage For="() => RoomToEdit.Name" />
                </div>
            </div>

            <div class="form-row">
                <div class="form-group" style="width:100%">
                    <label for="location">Localisation :</label>
                    <InputText class="form-control" id="location" placeholder="Saisir la localisation" @bind-Value="RoomToEdit.Location" />
                    <ValidationMessage For="() => RoomToEdit.Location" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group" style="width:100%">
                    <label for="imageUrl">Lien vers l'image:</label>
                    <InputText class="form-control" id="imageUrl" placeholder="Saisir le lien vers l'image" @bind-Value="RoomToEdit.ImageURL" />
                    <small><ValidationMessage For="() => this.RoomToEdit.ImageURL" /></small>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group" style="width:100%">
                    <label for="activities">Activités :</label>
                    @foreach (var activity in RoomToEdit.Activities)
                    {
                        <div>
                            @activity.Name
                        </div>
                    }
                </div>
            </div>
            <div class="form-row">
                <div class="form-group" style="width:100%">
                    <label for="schedules">Horaires :</label>
                    @foreach (var schedule in RoomToEdit.Schedules)
                    {
                        <div>
                            <strong>Jour :</strong> @schedule.Day<br />
                            <strong>Heure d'ouverture :</strong> @schedule.OpenTime<br />
                            <strong>Heure de fermeture :</strong> @schedule.CloseTime<br />
                        </div>
                    }
                </div>
            </div>

            <div class="form-row">
                <button type="submit" class="btn btn-primary">Validation</button>
            </div>
        </EditForm>

    }
    <div class="row">
        <div class="col-8">
            @LoadingMessage

            <div class="row p-2">
                @for (var i = 0; i < sallesDeSport.Count; i += 3)
                {
                    <div class="row p-2">
                        @for (var j = i; j < Math.Min(i + 3, sallesDeSport.Count); j++)
                        {
                            <div class="col-md-4">
                                <div class="card mb-3">
                                    <img src="@sallesDeSport[j].ImageURL" class="card-img-top" alt="Image de la salle de sport" />
                                    <div class="card-body">
                                        <h5 class="card-title text-warning text-uppercase font-weight-bold">@sallesDeSport[j].Name</h5>
                                        <p class="card-text text-primary font-weight-bold">@sallesDeSport[j].Location</p>
                                        <a class="btn btn-primary" href="/Room/@sallesDeSport[j].Id">Détails</a>
                                        @if (IsAdminMode)
                                        {
                                            <button class="btn btn-primary" @onclick="() => EditRoom(sallesDeSport[j])">Modifier<i class="bi bi-pencil-square"></i></button>
                                            <button class="btn btn-danger" @onclick="() => DeleteRoom(sallesDeSport[j].Id)">Supprimer<i class="bi bi-trash3"></i></button>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>

        </div>
    </div>

</div>
