@page "/rooms"
@using System.Net.Http.Json;
@using System.Globalization;
@using FilRougeFront.DTOs;
@using System.Collections.Generic;
@using FilRougeCore.Models;
@using FilRougeFront.Services;
@using Microsoft.AspNetCore.Components;
@inject Blazored.LocalStorage.ILocalStorageService _localStorage;
@inject NavigationManager Navigator;



<div class="container-fluid">
    <header class="text-center">
      
        <img src="images/logo.jpg" alt="Logo de votre site" class="big-logo">
    </header>

    @if (User is not null && IsAdminMode)
    {
        <div class="row mt-3 text-center">
            <button class="btn btn-success btn-sm" @onclick="AddRoom"><i class="bi bi-plus-square"></i>&ensp; Ajouter une salle</button>
        </div>

        @if (RoomToEdit != null)
        {
            <div class="row">
                <div class="col-md-6">
                    <EditForm OnValidSubmit="SubmitRoom" Model="RoomToEdit">
                        <DataAnnotationsValidator />

                        <div class="form-group">
                            <label for="name">Nom:</label>
                            <InputText class="form-control" id="name" placeholder="Saisir le nom" @bind-Value="RoomToEdit.Name" />
                            <ValidationMessage For="() => RoomToEdit.Name" />
                        </div>

                        <div class="form-group">
                            <label for="location">Localisation :</label>
                            <InputText class="form-control" id="location" placeholder="Saisir la localisation" @bind-Value="RoomToEdit.Location" />
                            <ValidationMessage For="() => RoomToEdit.Location" />
                        </div>

                        <div class="form-group">
                            <label for="imageUrl">Lien vers l'image:</label>
                            <InputText class="form-control" id="imageUrl" placeholder="Saisir le lien vers l'image" @bind-Value="RoomToEdit.ImageURL" />
                            <small><ValidationMessage For="() => this.RoomToEdit.ImageURL" /></small>
                        </div>

                        <div class="form-group">
                            <label for="activities">Activités :</label>
                            @foreach (var activity in RoomToEdit.Activities)
                            {
                                <div>
                                    @activity.Name
                                </div>
                            }
                        </div>

                        <div class="form-group">
                            <label for="schedules">Horaires :</label>
                            @foreach (var schedule in RoomToEdit.Schedules)
                            {
                                <div>
                                    <strong>Jour :</strong> @schedule.Day<br />
                                    <strong>Heure d'ouverture :</strong> @schedule.OpenTime<br />
                                    <strong>Heure de fermeture :</strong> @schedule.CloseTime<br />
                                </div>
                            }
                        </div>

                        <button type="submit" class="btn btn-primary">Validation</button>
                    </EditForm>
                </div>
            </div>
        }
    }
    <div class="club-group-header">
        <h2 class="text-center main-title">
            " Clubs "
            <span class="title-opposite"> à proximité</span>
        </h2>
    </div>
    <div class="row">

        @foreach (var room in sallesDeSport)
        {
            <div class="col-md-4">
                <div class="card mb-3">

                    <section class="club-group-wrapper">

                        <div class="tile-wrapper">
                            <div class="club-tile-content">
                                <div class="image">
                                    <img src="@room.ImageURL" class="card-img-top" alt="Image de la salle de sport" />
                                </div>
                                <div class="card-body properties">
                                    <div class="street">
                                        <h5 class="card-title text-warning text-uppercase font-weight-bold">@room.Name</h5>
                                    </div>
                                    <div class="city">

                                        <p class="card-text text-primary font-weight-bold">@room.Location</p>
                                    </div>
                                    <div class="label-wrapper">
                                        <a class="btn btn-primary trainer-tile_tag " href="/Room/@room.Id">Détails</a>
                                        <div class="row p-2">
                                            @if (IsAdminMode)
                                            {
                                                <button class="btn btn-primary trainer-tile_tag" @onclick="() => EditRoom(room)">Modifier<i class="bi bi-pencil-square"></i></button>
                                                <button class="btn btn-danger trainer-tile_tag" @onclick="() => DeleteRoom(room.Id)">Supprimer<i class="bi bi-trash3"></i></button>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        }

    </div>

    <!-- Bannière publicitaire -->
    <div class="mobile-ad-banner">
        <a href="/">
            Téléchargez notre application mobile pour plus de fonctionnalités !
        </a>
    </div>

</div>
